---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, me llamo Jorge Holguin. Mi interés por la programación empezó desde la facultad, ya que como estudiante de Ing. Electrónica, programábamos controladores con lenguaje de bajo nivel. Luego conocí el lenguaje C y me despertó <strong> esa pasión por programar</strong>. Actualmente trabajo de manera independiente <strong> como full stack developer </strong>.


    </p>

    <p>
      Como creador de contenido, tengo un canal dedicado a divulgar <strong>nuevas tecnologías</strong> como la <strong>inteligencia artificial</strong>. Mi objetivo es demostrar cómo cualquier persona puede utilizar la IA para crear <strong>productos de valor</strong> y mejorar su economía. También resalto la <strong>importancia de la programación</strong> como base fundamental para aprovechar estas tecnologías al máximo.
    </p>
  </div>

  <img width="200" height="200" src="/yo.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

