<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[4px]"> <!-- Duplicar el tamaño del padding -->
      <span class="absolute inset-[-4000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"></span>
      <div class="inline-flex items-center justify-center w-full px-12 py-4 text-xl text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"> <!-- Duplicar el tamaño del padding y el tamaño de la fuente -->
          <slot />
      </div>
  </span>
</div>
