---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Creador de Contenido",
    company: "Youtube",
    description:
      "Divulgo sobre tecnología, inteligencia artificial y programación en diferentes plataformas.",
    link: "https://www.youtube.com/@vidadigital1994",
  },
  {
    date: "Septiembre 2021",
    title: "Full Stack Developer",
    company: "Freelance",
    description:
      "Responsable de desarrollar y diseñar sitios web y aplicaciones utilizando JavaScript y React, así como implementar soluciones de bases de datos con .NET, SQL Server y C#. Utilización de lenguajes como Scala y Python en Azure para el mantenimiento y procesamiento de Big Data.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
